z5.dtd


<!ELEMENT NEWSPAPER (ARTICLE)+>
<!ELEMENT ARTICLE ((HEADLINE, BYLINE, LEAD, BODY, NOTES),(ENTITY))>
<!ELEMENT HEADLINE (#PCDATA)>
<!ELEMENT BYLINE (#PCDATA)>
<!ELEMENT LEAD (#PCDATA)>
<!ELEMENT BODY (#PCDATA)>
<!ELEMENT NOTES (#PCDATA)>
<!ATTLIST ARTICLE AUTHOR CDATA #REQUIRED
					EDITOR CDATA #REQUIRED
					DATE CDATA #REQUIRED
					EDITION CDATA #REQUIRED>
<!ENTITY NEWSPAPER "asfasfa">
<!ENTITY PUBLISHER "fffff">
<!ENTITY COPYRIGHT "sssssss">